setuptools==38.5.1; python_version != '2.6' and python_version != '3.2'
setuptools==29.0.1; python_version == '2.6' or python_version == '3.2'			# pyup: ignore

pip==9.0.1; python_version != '3.2'
pip==7.1.2; python_version == '3.2'												# pyup: ignore

flake8==3.4.1; python_version != '2.6'
flake8==2.6.2; python_version == '2.6'											# pyup: ignore

pydocstyle==2.0.0; python_version != '2.6' and python_version != '3.2'
pydocstyle==1.1.1; python_version == '2.6' or python_version == '3.2'			# pyup: ignore

virtualenv==15.1.0; python_version != '3.2'
virtualenv==13.1.2; python_version == '3.2'										# pyup: ignore

coverage==4.4.1; python_version != '3.2'
coverage==3.7.1; python_version == '3.2'										# pyup: ignore

gitchangelog==3.0.3
bumpversion==0.5.3
wheel==0.29.0
tox==2.7.0
coveralls==1.2.0