setuptools; python_version != '2.6' and python_version != '3.2'
setuptools==29.0.1; python_version == '2.6' or python_version == '3.2'			# pyup: ignore

pip; python_version != '3.2'
pip==7.1.2; python_version == '3.2'												# pyup: ignore

flake8; python_version != '2.6'
flake8==2.6.2; python_version == '2.6'											# pyup: ignore

pydocstyle; python_version != '2.6' and python_version != '3.2'
pydocstyle==1.1.1; python_version == '2.6' or python_version == '3.2'			# pyup: ignore

virtualenv; python_version != '3.2'
virtualenv==13.1.2; python_version == '3.2'										# pyup: ignore

coverage; python_version != '3.2'
coverage==3.7.1; python_version == '3.2'										# pyup: ignore

tox
coveralls